<header>
  <section class="navigation-menu">
    <nav class="nav">
      <!-- Header Logo -->
      <div>
        <header class="nav-header">
          <span class="header-span">Simply</span>Chocolate<svg
            class="header-logo-icon"
            width="24"
            height="24"
          >
            <use href="./images/navigation-menu/header.svg#header-logo"></use>
          </svg>
        </header>
      </div>

      <!-- Menu List -->
      <div class="nav-menu">
        <li class="nav-menu-list">Home</li>
        <li class="nav-menu-list">How it's made?</li>
        <li class="nav-menu-list">Our products</li>
        <li class="nav-menu-list">Top sellers</li>
        <li class="nav-menu-list">Chocolate is loved</li>
      </div>

      <!-- Social Media Links -->
      <div class="nav-socmed">
        <li>
          <a href="" class="nav-socmed-link">
            <svg class="" width="24" height="24">
              <use href="./images/navigation-menu/header.svg#insta-logo"></use>
            </svg>
          </a>
        </li>
        <li>
          <a href="" class="nav-socmed-link">
            <svg class="" width="24" height="24">
              <use
                href="./images/navigation-menu/header.svg#twitter-logo"
              ></use>
            </svg>
          </a>
        </li>
      </div>
    </nav>
  </section>
</header>
